html,
body {
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
}

::selection {
    background: #1f6a8f;
    color: #fff;
}

header {
    background-color: #87509c;
}

.navbar-brand {
    padding-top: 6px;
}

.navbar-brand .img-logo>a {
    background: url('../img/logo-cuda.png') no-repeat;
    width: 118px;
    height: 44px;
    display: block;
    background-size: contain;
    color: transparent;
    margin-top: 0;
}

.navbar-custom {
    height: 140px;
    margin-bottom: 0;
    padding-top: 30px;
    margin: auto;
}

.navbar-custom .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:visited {
    font-size: 18px;
    background-color: #643a79;
    border-radius: 4px;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    padding-top: 120px;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    color: white;
}

h3 {
    font-size: 18px;
    color: white
}

p {
    color: white;
    font-size: 16px;
}

.alignment {
    text-align: center;
}

.alignment div.container {
    display: table;
    height: 100%;
}

.alignment div.container>div {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.row-space {
    padding-bottom: 120px;
}

.line-space:after {
    background: white;
    content: '';
    display: inline-block;
    height: 0.2em;
    max-width: 20em;
    width: 87px;
    height: 4px;
    text-align: center;
    opacity: 0.3;
    filter: alpha(opacity=60);
}

#welcome {
    background-color: #87509c;
    height: 400px;
}

#welcome div.container>div>h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 42.16px;
    text-transform: initial;
    padding: 0;
}

.btn-person {
    background-color: #eb7d4b;
    width: 293px;
    height: 70px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 4px 0 #c86a40;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-top: 60px;
}

.btn-person:hover {
    background-color: #ff6e2d;
    color: #fff;
    box-shadow: 0 4px 0 #ee4f08;
}

.btn-person:active {
    position: relative;
    top: 5px;
    box-shadow: none;
    color: white;
}

#services {
    background-color: #17c2a4;
    height: auto;
    padding-top: 0;
    margin-top: 0;
}

#services img {
    /* border: 2px solid white; */
    text-align: center;
    /* display: block; */
    /* padding-left: 0px; */
    margin: auto;
    /* width: 60%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
}

.red {
    background-color: red;
}

#skills div.row>h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #3c4761 !important;
}

#team {
    background-color: #e7f1f8;
    color: #3c4761 !important;
}

#team h1,
h3,
p {
    color: #3c4761 !important;
}

.img-size {
    width: 200px;
    height: 200px;
}

.blue {
    border: 1px solid blue;
}

#team div.row>div>div>h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 24px;
}

#team h4 {
    color: #30bae7
}

#portfolio{

    background-color: #ffdd99;

}

#testmonials {
    background-color: #d74680;
}

#contato {
    background-color: #3c5499;
}

#footer {
    background-color: #344b8e;
}